if SND_SUNXI_SOC

config SND_SUNXI_SOC_AUDIOCODEC
	tristate "Audiocodec for the SUNXI chips"
	depends on  ARCH_SUN8IW5
	select SND_SOC_DMAENGINE_PCM
	default n
	help
		Say Y or M if you want to add support for audiocodec

config SND_SUNXI_SOC_PUBLUC_MACHINE
	tristate "Audiocodec Machine for codec chips"
	depends on  ARCH_SUN8IW5
	default n
	help
		Say Y or M if you want to add audiocodec machine support

config SND_SUN8IW5_SNDCODEC
	tristate "Audiocodec for the SUN8IW5 chips"
	depends on ARCH_SUN8IW5
	default n
	help
		Say Y or M if you want to add sun8iwX audiocodec support

config SND_SUNXI_SWITCH
	tristate "headset for the SUN8IWx chips"
	depends on ARCH_SUN8IW5
	default n
	help
		Say Y or M if you want to add sun8iwX headset support

endif
